.aboutit {
    min-height: 455px;
    padding-top: 70px;
    &_wrapper {
        display: grid;
        grid-template-columns: 392px 418px;
        grid-template-rows: 355px;
        gap: 55px;
        margin: 0 auto;
        justify-content: center;
    }
    &_image {
        filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.25));
    }
    &_text {        
        h2 {
            margin-top: 9px;
        }
        p.text {
            margin-top: 25px;
            text-align: left;
        }
    }
}